body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

.bold {
	font-weight: bold;
}

.large-text {
	font-size: 30px;
}

.center {
	vertical-align: middle;
	height: 100%;
}

@import "headings";

@import "copy";